build/
*.jou
*.log
*.txt
*.asv
*.pyc
src/client/python/.pydevproject
src/client/python/.project
src/examples/python/.pydevproject
src/examples/python/.project
src/examples/julia/images
core
*.jl.cov
*.jl.*.cov
*.jl.mem
docs/build/
Manifest.toml
*.apk
*.bin
*.dtb
*.img
*.tar.gz
*.zip
vivado*
webtalk*
tmp
uImage
.vscode
.Xil
