build/
*.jou
*.log
*log*.txt
*.asv
*.pyc
src/client/python/.pydevproject
src/client/python/.project
src/examples/python/.pydevproject
src/examples/python/.project
src/examples/julia/images
src/examples/python/*.png
core
bitfiles
*.jl.cov
*.jl.*.cov
*.jl.mem
docs/build/
Manifest.toml
*.apk
*.bin
*.dtb
*.img
*.tar.gz
*.zip
*.vcd
vivado*
webtalk*
tmp
uImage
.vscode
vivado*
.Xil

# Output files of specific testbenches
counter_delayed_trigger